﻿@model Portfolio_AWR.Models.MainViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Meta Tag for responsive -->
    <meta name=”viewport” content=”width =1024, minimal-ui”>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.FullName - Portfolio</title>

    @*<!-- Loading of stylesheet for the design -->
    <link href="css/main.css" rel="stylesheet" type="text/css" />

    <!-- This tells the page to watch for special styling for IE9 -->
    <!--[if IE 9 ]>    <html class= "ie9"> <![endif]-->
    <!-- Important external stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jquery.fs.wallpaper.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/animate.css">*@
    @Styles.Render("~/Content/css_main")
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.fs.wallpaper.css")" type="text/css" media="all" />

    <!-- Finally we will load the font from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

</head>
<body id="top">
    @Html.Hidden("prefix", Url.Content("~/"))
    <!-- Start of Social Section at bottom of page -->
    <!-- <div id="socialsection">

        <div id="social-left">
            <a href="#"><i class="icon-gplus"></i></a>
            <a href="#"><i class="icon-pinterest"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
            <a href="#"><i class="icon-twitter"></i></a>
        </div>

        <div id="social-button"></div>

        <div id="social-right">
            <a href="https://plus.google.com/share?url=WEB_LINK_HERE" target="_blank"><i class="icon-gplus"></i></a>
            <a href="http://pinterest.com/pin/create/button/?url=WEB_LINK_HERE" target="_blank"><i class="icon-pinterest"></i></a>
            <a href="http://www.facebook.com/share.php?u=WEB_LINK_HERE"  target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://twitter.com/home?status=WEB_LINK_HERE"  target="_blank"><i class="icon-twitter"></i></a>
        </div>

    </div>-->
    <!-- End of Social Section at bottom of page -->
    <!-- HEADER SECTION -->
    <header>
        <!-- Start of Header Container - the content div that is a set width and centralized -->
        <div class="header-container">

            <div id="menu" class="menu">
                <div id="nav" class="nav">
                    <ul>
                        <li><a href="#top">Home</a></li>
                        <li><a href="#About">About</a></li>
                        <li><a href="#Skills">Skills</a></li>
                        <li><a href="#CV">CV / Resume</a></li>
                        @*<li><a href="#Testimonials">Testimonials</a></li>*@
                        @*<li><a href="#Clients">Clients</a></li>*@
                        <li><a href="#Portfolio">Portfolio</a></li>
                        <li><a href="#Contact">Contact Me</a></li>
                    </ul>
                </div>
                <div id="menu-button"></div>
            </div>
        </div><!-- End of Header Container -->

    </header>


    <!-- TOP SECTION -->
    <!-- Start of Video Element -->
    <div id="video_element">
        <!-- Start of Main Title + Intro -->
        <div class="huge-title">
            <img src="@Url.Content("~/Content/img/headshot.jpg")" alt="@Model.FullName" class="headshot wow tada" data-wow-delay="3s" data-wow-offset="80" data-wow-duration="1s">
            <h1 class="wow bounceInDown" data-wow-offset="80" data-wow-duration="3s">@Model.FullName</h1>
            <!-- Start of Owl Testimonial Carousel -->
            <div class="testimonials owl-carousel">
                <div>
                    <div class="button-box"><h4>Full Stack Web Developer</h4></div>
                </div>
                <div>
                    <div class="button-box"><h4>App Builder Extraordinaire</h4></div>
                </div>
                <div>
                    <div class="button-box"><h4>Technology Enthusiast</h4></div>
                </div>
            </div><!-- End of Owl Testimonial Carousel -->
        </div><!-- End of Main Title + Intro -->
        <!-- Start of Scroll Down Message and animation -->
        <div id="godown" class="floating">
            <p><a href="#About">Learn more about Andrew Ross</a></p>
            <img src="@Url.Content("~/Content/img/godown.png")" alt="down" />
        </div><!-- End of Scroll Down Message and animation -->
        <!-- Start of Shade - this is the css based gradient over the image for that cool effect -->
        <div class="shade"></div><!-- End of Shade -->
        <!-- Start of Background - displays a static image in replacement of video when on tablets and mobile devices -->
        <div id="background"></div><!-- End of Background -->
    </div><!-- End of Video Element -->
    <!-- Start of Wrapper - the full width container -->
    <div class="wrapper">
        <!-- Start of Container -->
        <div class="container">



            <!-- AT A GLANCE SECTION -->
            <!-- Start of Content - where the content be -->
            <div class="content2">

                <!-- Start of Hero - The main top image like a phone etc -->
                <div class="hero">

                    <h3>At a glance</h3>

                    <div class="one_third wow fadeInUp" data-wow-offset="120" data-wow-duration="1s">
                        <h4>FULL NAME</h4>
                        <h5>Andrew Ross</h5>
                    </div>

                    <div class="one_third wow fadeInUp" data-wow-offset="120" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h4>BIRTHPLACE</h4>
                        <h5>Cleveland, Ohio</h5>
                    </div>

                    <div class="one_third_last wow fadeInUp" data-wow-offset="120" data-wow-duration="1s" data-wow-delay="0.3s">
                        <h4>BORN</h4>
                        <h5>1988</h5>
                    </div>

                    <div class="one_third wow fadeInUp" data-wow-offset="120" data-wow-duration="1s">
                        <h4>RESIDENCE</h4>
                        <h5>Madison, OH</h5>
                    </div>

                    <div class="one_third wow fadeInUp" data-wow-offset="120" data-wow-duration="1s" data-wow-delay="0.2s">
                        <h4>EDUCATION</h4>
                        <h5>BS Computer Science</h5>
                    </div>

                    <div class="one_third_last wow fadeInUp" data-wow-offset="120" data-wow-duration="1s" data-wow-delay="0.3s">
                        <h4>HOBBIES</h4>
                        <h5>Movies, Camping, Halo, Magic: the Gathering</h5>
                    </div>

                </div><!-- End of Hero -->

            </div><!-- End of Content -->
            <!-- ABOUT SECTION -->
            <!-- Start of White Container -->
            <div class="whitecontainer">

                <!-- Start of Content -->
                <div class="content" id="About">

                    <h2 class="border wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">About me</h2>
                    <p>
                        I began developing websites while I was still in High School and have been doing it ever since. My expertise is in providing custom web applications that can be managed entirely by the end user. Full stack developer means that I am able to handle the task of building a website from beginning to end, from nailing down customer needs and templating a layout, to delivering a finished product, and of course being available for support after deployment.
                    </p>
                    <blockquote class="wow fadeInLeftBig" data-wow-offset="80" data-wow-duration="3s"><p>Anything worth doing, is worth doing right.</p></blockquote>
                    <img src="@Url.Content("~/Content/img/signature.png")" width="250" alt="Hunter S. Thompson">

                </div><!-- End of Content -->

            </div><!-- End of White Container -->
            <!-- SKILLS SECTION -->
            <!-- Start of Parallax 1 Container -->
            <div class="parallax1">
                <!-- Start of Content -->
                <div class="content" id="Skills">
                    <h2 class="border wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">My Skills</h2>
                    <!-- Start of One Half Column Container -->
                    <div class="half_column1 wow fadeInLeftBig" data-wow-offset="80" data-wow-duration="2s">
                        <p>
                            My most recent work has been in the C#, Blazor Environment where I have been developing applications using cutting edge MVVM frameworks and libraries. Experimenting with AngularJS, jQuery, and WebSockets is how I have fun in my spare time.
                        </p>
                        <p>
                            In the past I also have developed in Python and PHP 5 and am still fluent in these environments.
                        </p>
                        <div class="button-box"><a href="http://github.com/awross" target="_blank" class="button">Check Out My Public GitHub Repo</a></div>
                    </div><!-- End of One Half Column Container -->
                    <!-- Start of One Half Column Last Container -->
                    <div class="half_column2 wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                        <!-- Start of 3 rows -->
                        <div class="one_third centered skill">
                            <input class="knob" data-width="100%" data-fgColor="#ffffff" data-skin="cr3ativ" data-thickness=".2" value="85" data-readOnly="true">
                            <h3>Blazor</h3>
                        </div>
                        <div class="one_third centered skill">
                            <input class="knob" data-width="100%" data-fgColor="#ffffff" data-skin="cr3ativ" data-thickness=".2" value="75" data-readOnly="true">
                            <h3>MVC 5</h3>
                        </div>
                        <div class="one_third_last centered skill">
                            <input class="knob" data-width="100%" data-fgColor="#ffffff" data-skin="cr3ativ" data-thickness=".2" value="95" data-readOnly="true">
                            <h3>SQL</h3>
                        </div>
                        <!-- End of 3 rows -->
                        <!-- Start of 2nd 3 rows -->
                        <div class="one_third centered skill">
                            <input class="knob" data-width="100%" data-fgColor="#ffffff" data-skin="cr3ativ" data-thickness=".2" value="90" data-readOnly="true">
                            <h3>Restful API</h3>
                        </div>
                        <div class="one_third centered skill">
                            <input class="knob" data-width="100%" data-fgColor="#ffffff" data-skin="cr3ativ" data-thickness=".2" value="70" data-readOnly="true">
                            <h3>AngularJS</h3>
                        </div>
                        <div class="one_third_last centered skill">
                            <input class="knob" data-width="100%" data-fgColor="#ffffff" data-skin="cr3ativ" data-thickness=".2" value="70" data-readOnly="true">
                            <h3>WebSockets</h3>
                        </div>
                        <!-- End of 2nd 3 rows -->
                    </div><!-- End of One Half Column Last Container -->
                </div><!-- End of Content -->
            </div><!-- End of Parallax 1 Container -->
            <!-- CV / RESUME SECTION -->
            <!-- Start of White Container -->
            <div class="whitecontainer">

                <!-- Start of Content -->
                <div class="content" id="CV">
                    <h2 class="border wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">curriculum vitae</h2>
                    <!-- Start of 1/3 Column -->
                    <div class="one_third clearfix wow fadeInUp" data-wow-offset="80" data-wow-duration="2s">
                        <h2>Education</h2>
                    </div><!-- End of 1/3 Column -->
                    <!-- Start of 2/3 Column Last -->
                    <div class="two_third_last wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                        <h3>BS Computer Science</h3>
                        <h5>Bowling Green State University</h5>
                        <p class="small">4 Years</p>
                        <div class="date">September 2007 - May 2011</div>
                        <p>
                            <ul class="white">
                                <li>Worked for the school creating web applications to upgrade internal school functions</li>
                                <li>Created small websites for campus organizations</li>
                                <li>Major GPA: 3.39</li>
                            </ul>
                        </p>
                    </div><!-- End of 2/3 Column Last -->
                    <!-- Start of 2/3 Column Last -->
                    <div class="two_third_last wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                        <h3>Web Development / Oracle</h3>
                        <h5>Auburn Career Center</h5>
                        <p class="small">2 Years</p>
                        <div class="date">September 2005 - May 2007</div>
                        <ul class="white">
                            <li>Learned the basics of dynamic HTML development alongside High School classes</li>
                            <li>Used SQL and Oracle as backends to create simple websites</li>
                            <li>Competed on a state level in web development competitions</li>
                        </ul>
                    </div><!-- End of 2/3 Column Last -->
                    <div class="bigspace"></div>
                    <!-- Start of 1/3 Column -->
                    <div class="one_third wow fadeInUp" data-wow-offset="80" data-wow-duration="2s">
                        <h2>Work Experience</h2>
                    </div><!-- End of 1/3 Column -->
                    <!-- Start of 2/3 Column Last -->
                    <div class="two_third_last wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                        <h3>Sr. Software Engineer</h3>
                        <h5>Primeritus Financial Services, Nashville TN</h5>
                        <p class="small">@Model.Current_Str</p>
                        <div class="date">@Model.LastHire.ToString("MMMM yyyy") - Present</div>
                        <ul class="white">
                            <li>Designed and built an automated system to send and receive data lookups on pending acquisitions, used thousands of times per day to ensure legal compliance</li>
                            <li>Upgraded call logging service to use a new API and introduced an entirely new interface and controls to provide better access and transparency with fewer errors</li>
                            <li>Built a new system to process business functions in bulk using a csv file import</li>
                            <li>Championed and helped implement WebSockets to allow real time feedback to web users as updates occur in other modules or even other systems</li>
                            <li>Used new web technologies such as Blazor along with frameworks such as Telerik to build new user controls and services, along with RabbitMQ, Restful API’s, and SQL for backend</li>
                        </ul>
                    </div><!-- End of 2/3 Column Last -->
                    <!-- Start of 2/3 Column Last -->
                    <div class="two_third_last wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                        <h3>Sr. Software Engineer</h3>
                        <h5>Reed Group, Westminster CO</h5>
                        <p class="small">5 Years</p>
                        <div class="date">May 2016 - May 2021</div>
                        <ul class="white">
                            <li>Architected and developed a new Self-Service application as a Single Page Application using Knockout JS</li>
                            <li>Built RESTful APIs to connect new tools to legacy data platform using WebApi2 Created a central user authentication server utilizing OAuth2</li>
                            <li>Implemented and educated colleagues on new technologies such as MVVM JS frameworks and Git source control</li>
                        </ul>
                    </div><!-- End of 2/3 Column Last -->
                    <!-- Start of 2/3 Column Last -->
                    <div class="two_third_last wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                        <h3>Web Developer III</h3>
                        <h5>Black Knight Financial Services, Denver CO</h5>
                        <p class="small">2 Years</p>
                        <div class="date">August 2014 - May 2016</div>
                        <ul class="white">
                            <li>Designed and developed back-end and front-end systems to drive the monthly processing of millions of loan records for the federal government</li>
                            <li>Interesting work with complex SQL systems and large datasets</li>
                            <li>Acted as team guru and teacher for emerging web technologies and held various Lunch and Learn sessions to educate colleagues on new technologies</li>
                            <li>Took over applications abandoned by previous employees and implemented necessary updates and technological upgrades</li>
                        </ul>
                    </div><!-- End of 2/3 Column Last -->
                    <!-- Start of 2/3 Column Last -->
                    <div class="two_third_last wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                        <h3>Web Developer I</h3>
                        <h5>AmTrust Financial Services, Cleveland OH</h5>
                        <p class="small">1 Year</p>
                        <div class="date">May 2013 - August 2014</div>
                        <ul class="white">
                            <li>Updated legacy VB.NET and VB ASP websites into MVC web applications</li>
                            <li>Supervised junior developers and helped them get acclimated with a multitide of applications maintained by our team</li>
                            <li>Introduced AJAX and other live JavaScript technologies to drive innovation</li>
                        </ul>
                        @*<a href="#" class="button-reverse">Download My CV</a><a href="#" class="button">LinkedIn Profile</a>*@
                    </div><!-- End of 2/3 Column Last -->
                    <!-- Start of 2/3 Column Last -->
                    <div class="two_third_last wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                        <h3>Software Engineer</h3>
                        <h5>Computer Technology Management Systems, Kent OH</h5>
                        <p class="small">2 Years</p>
                        <div class="date">June 2011 - April 2013</div>
                        <ul class="white">
                            <li>Learned Microsoft tools like MVC, EntityFrameworks, and T-SQL on-the-job</li>
                            <li>Dug into JavaScript to create live, dynamic web content</li>
                            <li>Worked with internationalization functions to launch a dual language site for Canada</li>
                        </ul>
                        @*<a href="#" class="button-reverse">Download My CV</a><a href="#" class="button">LinkedIn Profile</a>*@
                    </div><!-- End of 2/3 Column Last -->
                </div><!-- End of Content -->

            </div><!-- End of White Container -->
            <!-- PORTFOLIO SECTION -->
            <!-- Start of Parallax 2 Container -->
            <div class="parallax2">

                <!-- Start of Content - where the content be -->
                <div class="content" id="Portfolio">
                    <h2 class="border wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">Portfolio</h2>
                    <p>I keep myself busy with fun personal projects that I use to teach myself new skills or to brush up on old ones. The boxes below represent a couple of these sites that are still up and running in one form or another.</p>
                    <p>I also keep a collection of older projects at my <a href="http://github.com/awross" target="_blank">GitHub site</a></p>
                    <div class="center-align">
                        <!-- Start of 3 rows -->
                        <div class="one_third wow fadeInLeftBig" data-wow-offset="80" data-wow-duration="2s">
                            <div class="infopanel">
                                <a href="http://mtgdecko.com/" target="_blank" class="fancybox" rel="group2"><div class="eye"><img src="@Url.Content("~/Content/img/port1.jpg")" alt="MtG Sandbox" /></div></a>
                                <h5>MtG Sandbox</h5>
                                <p>A complete deck editor for Magic with limited playtesting available <a href="http://mtgdecko.com/" target="_blank">here</a>.</p>
                            </div>
                        </div>
                        <div class="one_third wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                            <div class="infopanel">
                                <a href="http://req5.awross.me" target="_blank" class="fancybox" rel="group2"><div class="eye"><img src="@Url.Content("~/Content/img/port2.jpg")" alt="Halo 5 Reqs" /></div></a>
                                <h5>Halo 5 Req Lookup</h5>
                                <p>A simple page I made to organize and track all the collectables in the new Halo game</p>
                            </div>
                        </div>
                        <div class="one_third_last wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                            <div class="infopanel">
                                <a href="http://undead.awross.me" target="_blank" class="fancybox" rel="group2"><div class="eye"><img src="@Url.Content("~/Content/img/port3.jpg")" alt="BG Undead" /></div></a>
                                <h5>BG Undead</h5>
                                <p>I built and ran a site to track the 2nd largest Humans vs. Zombies game in the country</p>
                            </div>
                        </div><!-- End of 3 rows -->
                        @*<!-- Start of 3 rows -->
                        <div class="one_third wow fadeInLeftBig" data-wow-offset="80" data-wow-duration="2s">
                            <div class="infopanel">
                                <a href="@Url.Content("~/Content/img/port4.jpg")" class="fancybox" rel="group2"><div class="eye"><img src="@Url.Content("~/Content/img/port4.jpg")" alt="Portfolio 4" /></div></a>
                                <h5>Water Balls</h5>
                                <p>Caption styling is also included and styled for <a href="#">links also</a></p>
                            </div>
                        </div>
                        <div class="one_third wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">
                            <div class="infopanel">
                                <a href="@Url.Content("~/Content/img/port5.jpg")" class="fancybox" rel="group2"><div class="eye"><img src="@Url.Content("~/Content/img/port5.jpg")" alt="Portfolio 5" /></div></a>
                                <h5>Wedding Rings</h5>
                                <p>Caption styling is also included and styled for <a href="#">links also</a></p>
                            </div>
                        </div>
                        <div class="one_third_last wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                            <div class="infopanel">
                                <a href="@Url.Content("~/Content/img/port6.jpg")" class="fancybox" rel="group2"><div class="eye"><img src="@Url.Content("~/Content/img/port6.jpg")" alt="Portfolio 6" /></div></a>
                                <h5>Time to Drive</h5>
                                <p>Caption styling is also included and styled for <a href="#">links also</a></p>
                            </div>
                        </div><!-- End of 3 rows -->*@
                    </div>
                </div><!-- End of Content -->

            </div><!-- End of Parallax 2 Container -->
            <!-- CONTACT FORM SECTION -->
            <!-- Start of Grey Container -->
            <div class="greycontainer" id="Contact">
                <!-- Start of Content -->
                <div class="content centered" id="Contact">
                    <h2>Contact</h2>
                    <p>Drop me a line if you are in the greater Denver area and are looking for a web presence for your small business.</p>
                    <p>While I am not currently in the market for a new full-time job I am always interested in professional contacts</p>
                    <!-- Begin Contact Form -->
                    @*<form action="mailer.php" id="contact_form" method="post" class="wow fadeInUpBig" data-wow-offset="80" data-wow-duration="2s">*@
                    @using (Html.BeginForm("LeaveMessage", "Home", FormMethod.Post, new { @class = "wow fadeInUpBig", @data_wow_offset = "80", @data_wow_duration = "2s" }))
                    {
                        <p>
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name)
                        </p>
                        <p>
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email)
                        </p>
                        <p>
                            @Html.LabelFor(model => model.Message)
                            @Html.TextAreaFor(model => model.Message)
                        </p>
                        <p>
                            <input type="submit" value="Submit" />
                        </p>
                    }
                    @*</form>  <!--End Contact Form -->*@
                </div><!-- End of Content -->
            </div><!-- End of Grey Container -->
            <!-- FOOTER SECTION -->
            <!-- Start Of Footer -->
            <footer>
                <!-- Start of Content -->
                <div class="content">
                    <p>
                        1348 Dorchester Dr<br>
                        Madison, OH 44057<br>
                        Phone: (720) 295-2134<br>
                        <a href="mailto: andy@awross.me">andy@awross.me</a>
                    </p>
                    <p class="copyright">Copyright @DateTime.Now.Year - Andrew Ross</p>
                </div><!-- End of Content -->
            </footer><!-- End Of Footer -->

        </div><!-- End of Container -->

    </div><!-- End of Wrapper -->
    <!--Loading Scripts -->
    <!-- First we will load jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--Load Fallback if google not avalible-->
    <script>
    if (!window.jQuery) {
        document.write('<script src="@Url.Content("~/Content/js/jquery-1.11.0.min.js")"><\/script>');
    }
    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.fancybox.pack.js?v=2.1.5")"></script>

    @Scripts.Render("~/bundles/js")

    <script type="text/javascript" src="@Url.Content("~/Content/js/app.js")"></script>

    @*<!-- Now we load the JS files for the fancy things on the page -->
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="js/retina.js"></script>
    <script type="text/javascript" src="js/jquery.scrollToTop.min.js"></script>
    <script type="text/javascript" src="js/jquery.fs.wallpaper.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.plusanchor.js"></script>
    <script type="text/javascript" src="js/jquery.knob.js"></script>
    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>*@
</body>
</html>
